[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
body, html {
  background: rgb(69,72,77);
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
img {
  padding: 0px;
  margin: 0px;
}
#current-image {
  text-align: center;
}
